@charset "utf-8";
/* CSS Document */

h2 { font-size: 20px; color: #999; padding: .5em 0; text-align: center;}
h3 { font-size: 14px; }

#navbar {
	position: relative;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-family: Arial;
	font-size: 12px;
}
#navbar li {
	list-style: none;
	float: left; 
	display: block;
	text-decoration: none;
}

ul.toplevel > li {
	width: 320px;
	text-align: center;
	background: #2f8be8;
	height: 2.5em;
	line-height: 2.5em;
}

ul.sublevel1 > li {
	background: #2f8be8;
	width: 320px;
	text-align: center;
	height: 3em;
	line-height: 3em;
	z-index: 10;
}
ul.sublevel2 > li {
	background: #f09d28;
	width: 240px;
	text-align: center;
	height: 3em;
	line-height: 3em;
	z-index: 10;
}

#navbar li a {
	display: block;
	text-transform: uppercase;
	text-decoration: none; 
	color: #999;
	font-weight: bold; 
}
#navbar li a:hover {
	color: #000; 
}

#navbar li ul {
	display: none;
}
#navbar li:hover ul, #navbar li.hover ul {
	position: absolute;
	display: block;
	left: 0;
/*	width: 100%;*/
	margin: 0;
	padding: 0; 
}

#navbar li:hover li, #navbar li.hover li {
	float: left; 
}
#navbar li:hover li a, #navbar li.hover li a {
	color: #000; 
}
#navbar li li a:hover {
	color: #357; 
}

/* Main menu 
-----------------------------------------*/
#navbar {
	font-family: Arial;
	font-size: 12px;
	background: #2f8be8;
}
#navbar > li > a {
	color: #000;
	font-weight: bold;
}
#navbar > li:hover > a {
	background-color: #f09d28;
	color: #000;
}

/* Submenu
------------------------------------------*/
#navbar ul {
	background: #f09d28;
}
#navbar ul li a {
	color: #000;
}
#navbar ul li:hover a {
	background: #ffc97c;
}